<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <header name="Access-Control-Allow-Origin" value="*" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./web/css/vendor/reset.min.css">
  <link rel="stylesheet" href="./web/css/vendor/bootstrap.min.css">

</head>

<body>

  <div class="container" ng-app="myApp">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>{{ title }}</h1>
        </div>
      </div>

      <div ui-view></div>

    </div>

    <script type="text/ng-template" id="login.html">
    <div class="col-md-12">
      <h3>Login Page</h3>
      
      <form ng-submit="formSubmit()" class="form">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Login</button>
            <span class="text-danger">{{ error }}</span>
            <a ui-sref="register">Register</a>
          </div>

        </div>
      </form>
    </div>
  </script>

    <script type="text/ng-template" id="home.html">
    <div class="col-md-12">
      <h3>Home Page</h3>
    
      <a ui-sref="login">Back</a>
    </div>
  </script>
 
  </div>
  <script src='./web/js/vendor/jquery.min.js'></script>
  <script src='./web/js/vendor/bootstrap.min.js'></script>
  <script src='./web/js/vendor/angular.min.js'></script>
  <script src='./web/js/vendor/angular-ui-router.js'></script>



  <script src="./web/js/app/app.js"></script>
  <script src="./web/js/app/user/userController.js"></script>


</body>

</html>