<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" ng-submit="addUser()" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
      <label for="username">First name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" ng-model="firstName" required />
      <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <label for="username">Last name</label>
      <input type="text" name="lastName" id="Text1" class="form-control" ng-model="lastName" required />
      <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.userName.$dirty && form.username.$error.required && form.firstName.$error.alreadyExist}">
      <label for="username">Username</label>
      <input type="text" name="userName" id="userName" ng-blur="validateUser()" class="form-control" ng-model="userName" required
      isNotExist/>
      <span ng-show="form.userName.$dirty && form.userName.$error.required" class="help-block">Username is required</span>
      <span ng-show="form.userName.$dirty && form.userName.$error.isNotExist" class="help-block">Username is exist!</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>

      <a href="#/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>